<div class="tool-container" *ngIf="toolLoaded">
  <!-- Tool Header -->
  <div class="tool-header">
    <img class="tool-image" [src]="environment.apiBaseUrl + tool.imageUrl" alt="{{ tool.name }}">
    <div class="tool-info">
      <div class="tool-title">
        <h1>
          {{ tool.name }}
          <span class="tool-rating">
            <mat-icon *ngFor="let i of [1,2,3,4,5]" class="star">{{ i <= tool.reviewGrade ? 'star' : 'star_border'
                }}</mat-icon>
                <span class="rating-number">{{ tool.reviewGrade }} ({{ tool.reviewCount }})</span>
          </span>
        </h1>
      </div>

      <h2 class="section-title">Περιγραφή</h2>
      <p class="tool-description">{{ tool.description }}</p>
    </div>

    <!-- Action Buttons -->
    <div class="tool-actions">
      <mat-icon *ngIf="tokenInLocalStorage()" (click)="toggleFavorite()" class="favorite-icon" [ngClass]="{ 'favorited': isFavorite }">
        {{ isFavorite ? 'favorite' : 'favorite_border' }}
      </mat-icon>
      <mat-icon class="swap-icon" (click)="addItemToCompareList(tool)">compare_arrows</mat-icon>
      <button mat-button *ngIf="tokenInLocalStorage()" class="save-btn" (click)="openEvaluationDialog(tool)">
        Αξιολόγηση Εργαλείου
      </button>
    </div>
  </div>

  <!-- Tool Characteristics Section -->
  <div class="d-flex">
    <h2 class="section-title">Επίσκεψη</h2>
    <span class="tool-link"><a [href]="tool.link" target="_blank">Πατήστε εδώ</a></span>
  </div>

  <h2 class="section-title">Χαρακτηριστικά</h2>
  <table class="tool-characteristics">
    <tr *ngFor="let group of featureGroups">
      <th>{{ group }}</th>
      <td>{{ featureMap[group] || 'N/A' }}</td>
    </tr>
  </table>

  <!-- User Reviews Section -->
  <app-user-reviews *ngIf="tool" [tool]="tool" [reviews]="reviews" [currentUserId]="authService.getUserId() || 0"
    (refreshReviews)="loadReviews(tool.toolId)">
  </app-user-reviews>

</div>