<div class="favorites-container mt-5">
    <h2 class="favorites-title">Τα Αγαπημένα Μου Εργαλεία</h2>

    <div *ngIf="favorites.length === 0" class="empty-message">Δεν έχετε προσθέσει αγαπημένα εργαλεία.</div>

    <div class="favorites-grid">
        <div *ngFor="let tool of favorites" class="search-item mt-3">
            <img [src]="environment.apiBaseUrl + tool.image" alt="{{ tool.toolName }} Logo" class="item-logo" />
            <div class="item-details">
                <h3>{{ tool.toolName }}</h3>
                <p class="rating">⭐ {{ tool.finalRating.toFixed(1) }} ({{ tool.reviewCount }})</p>
            </div>
            <div class="button-container">
                <button class="view-btn d-flex" (click)="goToTool(tool)">Προβολή Εργαλείου
                    <mat-icon>arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>
</div>