<div class="review-card">
    <!-- Actions only for current user's reviews -->
    <div *ngIf="review.userId === currentUserId" class="review-actions">
        <mat-icon class="edit-icon" (click)="onEdit(review)" matTooltip="Επεξεργασία αξιολόγησης">edit</mat-icon>
        <mat-icon class="delete-icon" (click)="onDelete(review)" matTooltip="Διαγραφή αξιολόγησης">delete</mat-icon>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="review-header">
            <!-- <img class="user-avatar" [src]="review.userImage" alt="User Avatar"> -->
            <h3>{{ review.userName }}</h3>
        </div>
        <div class="d-flex">
            <span class="stars">
                <mat-icon *ngFor="let star of getStars(review.totalRating); let i = index">
                    {{ star }}
                </mat-icon>
            </span>
            <span>{{review.totalRating}}</span>
        </div>
    </div>

    <p class="comment">{{ review.comment }}</p>

    <div class="rating-section">
        <p>Easy to use:</p>
        <span class="stars">
            <mat-icon *ngFor="let star of getStars(review.easyToUse); let i = index">
                {{ star }}
            </mat-icon>
        </span>
        <span>{{review.easyToUse}}</span>
    </div>

    <div class="rating-section">
        <p>True Characteristics:</p>
        <span class="stars">
            <mat-icon *ngFor="let star of getStars(review.trueToChars); let i = index">
                {{ star }}
            </mat-icon>
        </span>
        <span>{{review.trueToChars}}</span>
    </div>
</div>