<div class="login-modal">
  <button class="close-btn" (click)="closeDialog()">✖</button>

  <h2>Καλώς ήρθατε!</h2>

  <mat-form-field>
    <input matInput placeholder="Εισαγωγή Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="passwordVisible ? 'text' : 'password'" placeholder="Εισαγωγή Κωδικού">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
      <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <a href="#" class="forgot-password">Υπεύθυνη Κωδικού</a>

  <button mat-raised-button class="login-btn"
    [disabled]="(username === '' || username === null) || (password === '' || password === null)">Σύνδεση</button>

  <p class="register-text">
    Είσαι νέος χρήστης; <a href="#">Δημιουργία Λογαριασμού</a>
  </p>
</div>