<div class="reviews-container">
    <div class="d-flex flex-row aling-items-center">
        <h2>Αξιολογήσεις</h2>
        <div class="d-flex align-items-center rate">
            <span class="stars">
                <mat-icon *ngFor="let star of getStars(tool.reviewGrade); let i = index">
                    {{ star }}
                </mat-icon>
            </span>
            <span>{{tool.reviewGrade}} ({{tool.reviewCount}})</span>
        </div>
    </div>

    <!-- Show Message If No Reviews -->
    <p *ngIf="!reviews?.length" class="no-reviews">No reviews available.</p>

    <!-- Render Reviews -->
    <app-user-review-item *ngFor="let review of reviews" [review]="review"></app-user-review-item>
</div>