.search-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.view-btn {
  background-color: green;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and button */
}

.swap-icon {
  font-size: 22px;
  color: #3e721d; /* Match the button color */
  cursor: pointer;
}
