<mat-toolbar class="custom-toolbar">
  <span class="logo"><a (click)="goToSearch()">UIXplorer</a></span>

  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn; else guestTemplate">
    <button mat-button class="menu-item">Αποσύνδεση</button>
    <button mat-button class="menu-item" *ngIf="isAdmin">Διαχείριση Εργαλείων</button>
    <button mat-button class="menu-item">Αναζήτηση</button>
    <button mat-button class="menu-item" (click)="goToUserProfile()">Το προφίλ μου</button>
  </ng-container>

  <ng-template #guestTemplate>
    <span class="profile-link">
      <a (click)="goToUserProfile()">Το προφίλ μου</a>
    </span>
    <button mat-button class="login-btn text-white" (click)="openLoginDialog()">Σύνδεση</button>
    <button mat-button class="register-btn text-white" (click)="openRegisterDialog()">Εγγραφή</button>
  </ng-template>
</mat-toolbar>