/* Ensure full-page height */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 1000px;
}

/* Ensure MatDialog appears above everything */
.custom-dialog-container {
  z-index: 1050 !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-width: 400px;
  background: #fff;
}

/* Ensure backdrop covers everything */
.custom-dialog-backdrop {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 1049 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* Lower z-index for footer */
.footer {
  background-color: #3e721d;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
  /* ✅ Ensure it is below the modal */
}

.mat-tooltip-panel {
  position: fixed !important;
}


/*mat-tooltip below*/
.cdk-overlay-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  pointer-events: none !important;
}

.cdk-overlay-pane {
  position: absolute !important;
}

.cdk-describedby-message-container,
.cdk-visually-hidden {
  display: none;
}

.success-snackbar {
  background-color: #3e721d !important;
  color: white !important;
  font-size: 16px;
  text-align: center;
}
