<div class="search-container">
  <h2>Αναζήτηση</h2>

  <!-- Search Filters -->
  <form [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="featuresLoaded">
    <!-- Search Input -->
    <div class="search-bar">
      <input type="text" formControlName="searchQuery" placeholder="Αναζήτηση εργαλείων..." (input)="filterResults()">
    </div>
    <div class="filter-container">
      <div formGroupName="featureSelections" class="filters">
        <div *ngFor="let group of featureGroups" class="filter-group">
          <label>{{ group.name }}</label>
          <select [formControlName]="group.id.toString()" (change)="onFeatureSelect()" class="custom-select">
            <!-- <option value="">All</option> -->
            <option *ngFor="let item of featureItems[group.id]" [value]="item.featureItemId">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="search-btn">Αναζήτηση</button>
        <button type="button" class="clear-btn" (click)="resetFilters()">Καθαρισμός Κριτηρίων</button>
      </div>
    </div>
  </form>

  <!-- Compare Button -->
  <div class="d-flex justify-content-end mb-4">
    <button *ngIf="showCompare" class="compare-btn" (click)="goToCompare()">Σύγκριση Εργαλείων</button>
  </div>

  <!-- Search Results -->
  <div class="results" *ngIf="loadedResults && filteredResults.length > 0; else noResultsTemplate">
    <app-search-item *ngFor="let item of filteredResults" [item]="item" [favoriteToolIds]="favoriteToolIds"
      (hasCompareList)="onCompareListChanged($event)">
    </app-search-item>
  </div>

   <ng-template #noResultsTemplate>
    <div class="noResults">
      <span>Δεν βρέθηκαν εργαλεία</span>
    </div>
  </ng-template>
</div>