.search-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  flex-grow: 1;
}

.search-bar {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}

.filter-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.custom-select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.search-btn, .clear-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.clear-btn {
  background-color: #d9534f;
  color: white;
}

.search-btn {
  background-color: green;
  color: white;
}

.clear-btn {
  background-color: #d9534f;
  color: white;
}

.compare-btn {
  background-color: #fbce2c;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: block;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between search items */
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 10px;
}