.register-modal {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: green;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
  width: 100%;
}

.register-btn {
  background-color: #3e721d;
  color: white;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
}

.login-text a {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

mat-icon-button {
  height: 40px !important; /* Ensures button height matches input */
  width: 40px !important;
  padding: 0;
  margin: 0;
}

mat-form-field input {
  height: 40px !important; /* Ensures input fields have the same height */
}